doctype
html
    head
        title= title
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=10')
        meta(name='format-detection', content='telephone=no')
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=yes')
        meta(name='robots', content='all,follow')
        
        meta(name='google-site-verification', content='gJiEGCI21fLLgorMPmyoUh93fvYrgxOm-7B6k1BrCxI')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js')
        script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
        script(src='/js/skrollr.min.js')
        link(href='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css', rel='stylesheet')
        link(href='//netdna.bootstrapcdn.com/bootswatch/3.1.1/superhero/bootstrap.min.css', rel='stylesheet')
        link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css', rel='stylesheet')
        link(href='/css/style.css', rel='stylesheet')
        
    body(data-spy='scroll')
        a.visible-lg(href='https://github.com/killbotlogic')
            img(style='position: absolute; top: 0; right: 0; border: 0;',
                src='https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67' 
                alt='Fork me on GitHub' 
                data-canonical-src='https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png')

        div.container
            header
                nav#navbar
                    ul.nav.nav-pills
                        li
                            a(href='#')
                                i.fa.fa-play-circle-o
                                |  Killbot Logic
                        li
                            a(href='#about')
                                // i.fa.fa-bug
                                |  About Me
                        li
                            a(href='#cv')
                                // i.fa.fa-wrench
                                |  CV
                        li
                            a(href='#portfolio')
                                // i.fa.fa-code
                                |  Websites
                        li
                            a(href='#projects')
                                // i.fa.fa-gear.fa-spin
                                |  Projects
                        li
                            a(href='#contact')
                                // i.fa.fa-phone
                                |  Contact
            main

                block content

            footer#footer
                .row
                    .col-md-8
                        a.btn.btn-primary(href='https://github.com/killbotlogic', target='_blank')
                            i.fa.fa-github.fa-1x.fa-fw
                            | GitHub
                        a.btn.btn-primary(href='http://www.linkedin.com/pub/andy-truong/85/aab/76b', target='_blank')
                            i.fa.fa-linkedin-square.fa-1x.fa-fw
                            | LinkedIn
                        a.btn.btn-primary(href='http://www.facebook.com/killbotlogic', target='_blank')
                            i.fa.fa-facebook-square.fa-1x.fa-fw
                            | FaceBook
                    .col-md-4
                        | &copy; 1988 - 2014 Killbot Logic
            #side-navbar.visible-lg
                ul.nav.nav-pills.nav-stacked
                    li
                        a(href='#')
                            i.fa.fa-play-circle-o
                            |  Killbot Logic
                    li
                        a(href='#about')
                            // i.fa.fa-bug
                            |  About Me
                    li
                        a(href='#cv')
                            // i.fa.fa-wrench
                            |  CV
                    li
                        a(href='#portfolio')
                            // i.fa.fa-code
                            |  Websites
                    li
                        a(href='#projects')
                            // i.fa.fa-gear.fa-spin
                            |  Projects
                    li
                        a(href='#contact')
                            // i.fa.fa-phone
                            |  Contact
                .navbar-text
                    a.navbar-link(href='#')
                        i.fa.fa-reply.fa-1x.fa-rotate-90
                        |  Back to top
            #bg(data-0='transform: translate(0px, 0px)', data-end='transform: translate(0, -60px)')
            //#bg-overlay-top
            #bg-overlay-bottom
            #bg-grass.visible-lg
            script.
                // skrollr
                $(document).ready(function() {
                    // Init Skrollr
                    var s = skrollr.init({
                        render: function(data) {
                            //Debugging - Log the current scroll position.
                            //console.log(data.curTop);
                        }
                    });
                });
                
                // google analytics
                (
                    function(i, s, o, g, r, a, m) {
                        i['GoogleAnalyticsObject'] = r;
                        i[r] = i[r] || function() { (i[r].q = i[r].q || []).push(arguments) }, 
                            i[r].l = 1 * new Date();
                        a = s.createElement(o), 
                            m = s.getElementsByTagName(o)[0];
                        a.async = 1;
                        a.src = g;
                        m.parentNode.insertBefore(a, m)
                    }
                )(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

                ga('create', 'UA-50156028-1', 'killbotlogic.com');
                ga('require', 'displayfeatures');
                ga('require', 'linkid', 'linkid.js');
                ga('send', 'pageview');


